{
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "singleQuote": true,
    "importOrder": [
        "(.*).css",
        "server-only",
        "@/app/(.*)",
        "@/components/(.*)",
        "@/(.*)",
        "@(.*)",
        "[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "printWidth": 130,
    "tabWidth": 2,
    "useTabs": true
}
