{
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "singleQuote": true,
    "importOrder": [
        "^@/app/(.*)$",
        "^@/components/(.*)$",
        "^@/(.*)$",
        "^@(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "printWidth": 200,
    "tabWidth": 2,
    "useTabs": true
}
