.text-gradient {
  @apply bg-gradient-to-r from-brand to-cyan-400 bg-clip-text text-transparent;
}

.rainbow-border {
  --angle: 0deg;

  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
  border-image-slice: 1;

  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
