@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 233 43% 93%;
		--foreground: 0 0% 2%;

		--card: 240 10% 100%;
		--card-foreground: 60 9.1% 3%;

		--popover: 213 43% 96%;
		--popover-foreground: 60 9.1% 3%;

		--primary: 60 9.1% 3%;
		--primary-foreground: 360 100% 0%;

		--secondary: 240 20% 85%;
		--secondary-foreground: 240 10% 40%;

		--muted: 240 16.5% 85%;
		--muted-foreground: 24 5.4% 40%;

		--accent: 12 6.5% 85.1%;
		--accent-foreground: 240 0% 50%;

		--border: 140 3% 80%;
		--input: 12 6.5% 85%;
		--ring: 24 5.7% 20%;

		--brand: 240 50% 60%;
		--brand-foreground: 0 0% 100%;

		--radius: 0.5rem;

		--preview-size: 20rem;
		--preview-card-height: 27rem;
		--nav: 3.1rem;

		--destructive: 343 53% 13%;
		--destructive-foreground: 0 100% 60%;

		--success: 150 33% 17%;
		--success-foreground: 150 73% 55%;

		--warning: 60 50% 15%;
		--warning-foreground: 62 86% 55%;
	}

	.dark {
		--background: 240 10% 1%;
		--foreground: 0 0% 100%;

		--card: 240 3% 5%;
		--card-foreground: 60 19.1% 97.8%;

		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;

		--primary: 60 9.1% 97.8%;
		--primary-foreground: 360 100% 100%;

		--secondary: 240 0% 14%;
		--secondary-foreground: 0 9.1% 70.8%;

		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;

		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;

		--border: 240 2% 20%;
		--input: 12 6.5% 15.1%;
		--ring: 24 5.7% 82.9%;

		--brand: 160 84.1% 39.4%;
		--brand-foreground: 240 10% 100%;
	}
}

@layer base {
	html,
	body {
		@apply h-full w-full;
	}

	div {
		@apply box-border border-border;
	}

	h1 {
		@apply py-2 text-3xl;
	}

	h2 {
		@apply py-1 text-2xl;
	}

	h3 {
		@apply py-0.5 text-xl;
	}

	h4 {
		@apply text-base;
	}

	blockquote {
		@apply m-0 border-l-4 border-zinc-300 p-0 pl-2;
	}

	p > code {
		@apply my-4 rounded-md border bg-background bg-opacity-60 px-2 py-1 text-foreground;
	}

	pre {
		@apply my-4 min-h-[46px] max-w-[90dw] overflow-hidden text-wrap rounded-md border bg-background bg-opacity-60 p-2 text-foreground;
	}

	.markdown-image {
		@apply my-4;
	}
	.markdown > * {
		@apply overflow-hidden;
	}

	.scroll-container::-webkit-scrollbar-track {
		@apply bg-white bg-opacity-20 bg-clip-padding;
	}

	.scroll-container::-webkit-scrollbar {
		@apply size-2;
	}

	.scroll-container::-webkit-scrollbar-thumb {
		@apply rounded-full bg-white bg-clip-padding;
	}

	.scroll-container::-webkit-scrollbar-button {
		@apply hidden;
	}

	.scroll-container {
		@apply w-full;
	}

	ul {
		list-style-type: disc;
		list-style-position: inside;
	}
	ol {
		list-style: decimal;
		list-style-type: decimal;
		list-style-position: inside;
	}
	b {
		font-weight: bold;
	}

	ol li {
		padding: 0.5rem 0;
	}

	ul li {
		list-style-position: outside;
		margin-left: 1rem;
		padding: 0.5rem;
	}

	li ::marker {
		display: inline;
	}

	g path {
		@apply focus:border-transparent focus:outline-none;
	}

	* {
		@apply border-border;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
		overflow-y: auto;
	}

	.layout > .error {
		@apply absolute inset-0;
	}

	[contenteditable='true']:empty:not(:focus):before {
		content: attr(data-placeholder);
		@apply text-muted-foreground;
	}

	.lucide {
		@apply size-5 min-h-5 min-w-5 stroke-[2.5px];
	}

	.static {
		position: static !important;
	}
}
